// ========= colors =========
$mainColor: #585858;
$secondaryColor: #9e9e9e;
$accentColor: #f39a74;
$accentColorHover: #787878;
$bgcSection: #fafafa;
$blueHover: #188ce8;
$whiteColor: #fff;
$blackColor: #000;
$opasity: rgba(255, 255, 255, 0.5);
$opasitySocial: rgba(255, 255, 255, 0.1);

// ======== fonts =========
$fontMain: "Merriweather Sans", sans-serif;
$fontSecond: "Allura", sans-serif;

// ======== breakpoints =========
$mobileScreen: 480px;
$tabletScreen: 768px;
$desctopScreen: 1200px;
