<footer class="footer">
  <div class="container footer__container">
    <div class="footer__contacts">
      <a class="logo__link footer__logo" href="#"> D. R. </a>
      <a href="tel:+380635004030" class="footer__phone footer__phonemail"
        >+380635004030</a
      >
      <a href="mailto:gips5921@gmail.com" class="footer__mail footer__phonemail"
        >gips5921@gmail.com</a
      >
      <a class="footer__arrow" href="#header"
        ><svg
          class="footer__arrow-el"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="Layer_1"
          x="0"
          y="0"
          viewBox="0 0 130 65"
          xml:space="preserve"
          enable-background="new 0 0 130 65"
        >
          <g
            transform="translate(0.000000,65.000000) scale(0.100000,-0.100000)"
          >
            <path
              d="M315.4 365c-336-305-345-315-290-351 18-12 32-14 45-8 10 5 145 123 300 262l281 253 196-178c108-98 237-215 287-260 50-46 98-83 107-83s27 9 40 19c20 16 22 23 14 46 -12 33-623 585-647 585C638.4 650 489.4 522 315.4 365z"
            ></path>
          </g></svg
      ></a>
    </div>
    <ul
      class="social"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-easing="ease-in-sine"
    >
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/profile.php?id=100043788287117"
          target="_blank"
        >
          <svg width="24" height="24">
            <use href="/src/images/svg/icons.svg#fbf"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://twitter.com/Cristall1989"
          target="_blank"
        >
          <svg width="24" height="24">
            <use href="/src/images/svg/icons.svg#twittf"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://github.com/Cristal1989"
          target="_blank"
        >
          <svg class="github github__social" height="24px" width="24px">
            <use href="/src/images/svg/icons.svg#ghf"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          target="_blank"
          class="social-link"
          href="https://www.instagram.com/dima_rafal?igsh=eXQzMnA5OGtnanht&utm_source=qr"
        >
          <svg width="30" height="30" viewBox="0 0 24 24">
            <use href="/src/images/svg/icons.svg#instaf"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
