<section class="hero">
  <div class="container hero__container">
    <ul class="hero__list">
      <li class="hero__item">Dmitry Rafalovsky</li>
      <li class="hero__item">
        <h1 class="hero__title">CREATIVE</h1>
      </li>
      <li class="hero__item">Proffesional</li>
    </ul>
  </div>
</section>

<section class="owner">
  <img class="owner__img" src="./images/owner2.png" alt="owner" />
  <div class="container owner__container owner__wrapper">
    <div class="owner__field">
      <ul
        class="owner__list"
        data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        <li class="owner__item">
          <h3>
            Nothing is <br />
            imposible
          </h3>
        </li>
        <li class="owner__item"><h6>If you just work hard enough at it</h6></li>
      </ul>
      <p class="owner__name">Dmytry Rafalovsky</p>
    </div>
  </div>
</section>
<!-- =============sushi================ -->
<section class="sushi">
  <div class="container sushi__container">
    <figure
      class="sushi__phone"
      style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
    ></figure>
    <h3
      class="sushi__title"
      data-aos="fade-right"
      data-aos-offset="100"
      data-aos-easing="ease-in-sine"
    >
      Sushi Box
    </h3>
    <p
      class="sushi__subtitle"
      data-aos="fade-right"
      data-aos-offset="200"
      data-aos-easing="ease-in-sine"
    >
      Delivery and delicious on your phone. 1100+ types of rolls.
    </p>
    <a
      href="https://sushi-box.shop/ua-menu"
      class="sushi__link"
      data-aos="fade-right"
      data-aos-offset="100"
      data-aos-easing="ease-in-sine"
      >Click it out</a
    >
  </div>
</section>
<section class="develov">
  <div class="container develop__container">
    <figure class="develop__notebook" style="opacity: 1"></figure>
    <h3
      class="sushi__title develop__title"
      data-aos="fade-left"
      data-aos-offset="100"
      data-aos-easing="ease-in-sine"
    >
      Web Design <br />
      Develop
    </h3>
    <p
      class="sushi__subtitle devolop__subtitle"
      data-aos="fade-left"
      data-aos-offset="200"
      data-aos-easing="ease-in-sine"
    >
      Web design I made for MGF, an amazing architecture agency from London.
    </p>
    <a
      href="#"
      class="sushi__link develop__link"
      data-aos="fade-left"
      data-aos-offset="100"
      data-aos-easing="ease-in-sine"
      >Click it out</a
    >
  </div>
</section>

<!-- ======================slider======================= -->
<section id="work" class="container work">
  <h2 class="work__heading title">Latest Projects</h2>
  <div class="work__wrapper wrapper--large">
    <ul class="work__list">
      <li id="slide1" class="work__list-el work__list-el--is-active">
        <div class="work__content">
          <div class="work__content-blurb blurb blurb--framed">
            <h3
              class="blurb__heading"
              data-aos="fade-right"
              data-aos-offset="100"
              data-aos-easing="ease-in-sine"
            >
              Strategik<br />Web Design
            </h3>
            <p
              class="blurb__copy"
              data-aos="fade-right"
              data-aos-offset="200"
              data-aos-easing="ease-in-sine"
            >
              The awesome guys at Strategik were superb to work with because
              they knew their goals exactly.
            </p>
          </div>
          <a
            class="pj__link"
            data-aos="fade-right"
            data-aos-offset="100"
            data-aos-easing="ease-in-sine"
            href="#slide1"
            >See full project</a
          >
        </div>
        <div class="work__img">
          <img src="/src/images/work-1.jpg" alt="Strategik INC" />
        </div>
      </li>
      <li id="slide2" class="work__list-el">
        <div class="work__content">
          <div class="work__content-blurb blurb blurb--framed">
            <h3
              class="blurb__heading"
              data-aos="fade-right"
              data-aos-offset="100"
              data-aos-easing="ease-in-sine"
            >
              UI Kit<br />Web Design
            </h3>
            <p
              class="blurb__copy"
              data-aos="fade-right"
              data-aos-offset="200"
              data-aos-easing="ease-in-sine"
            >
              Eostre UI Kit is made following the latest design trends with
              focus on usability and fast workflow.
            </p>
          </div>
          <a
            class="pj__link"
            data-aos="fade-right"
            data-aos-offset="100"
            data-aos-easing="ease-in-sine"
            href="#slide2"
            >See full project</a
          >
        </div>
        <div class="work__img">
          <img src="/src/images/work-2.jpg" alt="UI Kit" />
        </div>
      </li>
      <li id="slide3" class="work__list-el">
        <div class="work__content">
          <div class="work__content-blurb blurb blurb--framed">
            <h3
              class="blurb__heading"
              data-aos="fade-right"
              data-aos-offset="100"
              data-aos-easing="ease-in-sine"
            >
              Go Outside<br />App Design
            </h3>
            <p
              class="blurb__copy"
              data-aos="fade-right"
              data-aos-offset="200"
              data-aos-easing="ease-in-sine"
            >
              Quick concept for a fictitious wildlife exploration app. Grab the
              PSD and start your own exploration.
            </p>
          </div>
          <a
            class="pj__link"
            data-aos="fade-right"
            data-aos-offset="100"
            data-aos-easing="ease-in-sine"
            href="#slide3"
            >See full project</a
          >
        </div>
        <div class="work__img">
          <img src="/src/images/work-3.jpg" alt="Go Outside App" />
        </div>
      </li>
    </ul>
    <ul class="work__navigation">
      <li class="work__navigation-el work__navigation-el--is-active"></li>
      <li class="work__navigation-el"></li>
      <li class="work__navigation-el"></li>
    </ul>
  </div>
</section>

<!-- ======================= blog ====================== -->

<section class="blog" id="blog">
  <div class="container blog__container">
    <div class="blog__title">
      <h3>Blog Posts</h3>
    </div>
    <ul class="blog__list">
      <li class="blog__item">
        <img
          class="blog__img"
          src="/src/images/blog-post-1.jpg"
          alt="blog-post_one"
          data-aos="zoom-in"
          data-aos-offset="100"
          data-aos-easing="ease-in-sine"
        />
        <p class="blog__item--title">Days in the office</p>
        <p class="blog__item--subtitle">
          I love using UI Kits vs website templates because UI Kits give you an
          easier way to use elements compared to templates.
        </p>
        <a href="#" class="blog__item--link sushi__link">Read full article</a>
      </li>
      <li class="blog__item">
        <img
          class="blog__img"
          src="/src/images/blog-post-2.jpg"
          alt="blog-post_two"
          data-aos="zoom-in"
          data-aos-offset="100"
          data-aos-easing="ease-in-sine"
        />
        <p class="blog__item--title">Why I use CCO images</p>
        <p class="blog__item--subtitle">
          CCO images are awesome because you don't have to credit the author,
          and you can use them anywhere, anytime.
        </p>
        <a href="#" class="blog__item--link sushi__link">Read full article</a>
      </li>
      <li class="blog__item">
        <img
          class="blog__img"
          src="/src/images/blog-post-3.jpg"
          alt="blog-post_three"
          data-aos="zoom-in"
          data-aos-offset="100"
          data-aos-easing="ease-in-sine"
        />
        <p class="blog__item--title">Designing for IOT</p>
        <p class="blog__item--subtitle">
          Internet of things is coming so quickly, we as designers will have to
          design UI and UX for more things in the future.
        </p>
        <a href="#" class="blog__item--link sushi__link">Read full article</a>
      </li>
    </ul>
    <button class="animated-button blog__button">
      <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
        ></path>
      </svg>
      <span class="text">View more</span>
      <span class="circle"></span>
      <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
        ></path>
      </svg>
    </button>
  </div>
</section>
<section class="contact" id="contact">
  <div class="container contact__container">
    <h3 class="contact__title">Contact Me</h3>
    <div class="contact__field">
      <img class="contact__img" src="/src/images/map1.jpg" alt="map" />
      <!-- ====== form ========= -->
      <form
        class="modal__form contact__form"
        name="registration-form"
        id="modal-form"
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-easing="ease-in-sine"
      >
        <div
          class="modal__form--details contact__form--details"
          role="group"
          area-labelledby="modal-form"
        >
          <!-- ================ user ========== -->
          <div class="modal__form--field contact__form--name">
            <label
              for="name"
              class="modal__form--label contact__form--label"
            ></label>
            <input
              type="text"
              name="username"
              id="name"
              autocomplete="name"
              class="modal__form--input contact__form--input"
              placeholder="Name"
              required
              pattern="[a-z]{4,8}"
            />
          </div>
          <!-- ================== mail ================= -->
          <div class="modal__form--field contact__form--mail">
            <label
              for="email"
              class="modal__form--label contact__form--label"
            ></label>
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              class="modal__form--input contact__form--input"
              placeholder="username@email.com"
            />
          </div>
          <!-- =============== coments =============== -->
          <div class="modal__form--field contact__form--comments">
            <label
              for="comment"
              class="modal__form--label contact__form--label"
            ></label>
            <textarea
              name="comment"
              id="comment"
              class="form__input--comment contact__form--comment"
              placeholder="Leave your comment"
            ></textarea>
          </div>
        </div>
        <button type="submit" class="contact__form--btn animated-button">
          <svg
            viewBox="0 0 24 24"
            class="arr-2"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
            ></path>
          </svg>
          <span class="text">Send</span>
          <span class="circle"></span>
          <svg
            viewBox="0 0 24 24"
            class="arr-1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
            ></path>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
